extends /sidebar

mixin formatInput(name, label, placeholder, type)
  - type = type || "text"
  .control-group
    label.control-label(for=name)= label
    .controls
      if type == "checkbox"
        input(type=type, id=name, name=name, checked=data[name])
      else
        input(type=type, id=name, name=name, value=data[name], placeholder=placeholder)

block title
  | GoCardless Bills

block content
  h2 GoCardless Bills
  - var fields = ['created_at', 'source_type', 'source_id', 'amount_minus_fees', 'status']
  table.table
    tr
      each field in fields
        th= field
      th Subscription name
    each bill in billList
      tr
        each field in fields
          td= bill[field]
        td= (bill.subscription ? bill.subscription.name : "")

  h3 Maintenance
  form(method="post")
    button.btn(type="submit", name="reprocess", value="1") Re-process all records
