extends /sidebar

mixin formatInput(name, label, placeholder, type)
  - type = type || "text"
  .control-group
    label.control-label(for=name)= label
    .controls
      if type == "checkbox"
        input(type=type, id=name, name=name, checked=data[name])
      else
        input(type=type, id=name, name=name, value=data[name], placeholder=placeholder)

block title
  | GoCardless Payouts

block content
  h2 GoCardless Payouts
  - var fields = ['created_at', 'paid_at', 'amount', 'transaction_fees', 'bank_reference']
  table.table
    tr
      each field in fields
        th= field
    each payout in payoutList
      tr
        each field in fields
          td= payout[field]
